<%= form_with(model: meeting) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, class: "form-control input-light", placeholder: "Name" %>
  </div>

  <div class="field light-time-container">
    <%= form.label :start_time, class: "col-sm-2" %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field light-time-container">
    <%= form.label :end_time, class: "col-sm-2" %>
    <%= form.datetime_select :end_time %>
  </div>

  <div class="field">
    <%= form.text_field :description, class: "form-control input-light", placeholder: "Description" %>
  </div>

  <div class="actions">
    <%= form.submit class: "button-89 btn-top-margin" %>
  </div>
<% end %>
