<p id="notice"><%= notice %></p>

<h1>Roles</h1>

<div class="container-fluid flex-grow-1 d-flex">
    <div class="row flex-fill flex-column flex-sm-row">
        <div class="col-sm-3 col-md-2 sidebar flex-shrink-1 bg-light pt-3" id="Navbar">
            <ul class="nav flex-lg-column">
                <h10 style = "font-family: adobe-garamond-pro;"><strong>Documentation and Database Tables</strong></h10>
                <li><%= link_to 'Admin', admin_index_path, class:"nav-link" %></li>
                <li><%= link_to 'Documentation', '/admin/documentation', class:"nav-link" %></li>
                <li><%= link_to 'Users', users_path, class:"nav-link" %></li>
                <li><%= link_to 'Alumni', alumni_path, class:"nav-link" %></li>
                <li><%= link_to 'Social Media Accounts', media_handles_path, class:"nav-link" %></li>
                <li><%= link_to 'Events', meetings_list_path, class:"nav-link" %></li>
                <li><%= link_to 'Event Attendees', event_attendees_path, class:"nav-link" %></li>
                <li><%= link_to 'Roles', roles_path, class:"nav-link" %></li>
                <li><%= link_to 'Majors', majors_path, class:"nav-link" %></li>
                <li><%= link_to 'Job Categories', job_categories_path, class:"nav-link" %></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 flex-grow-1 py-3">


          <table class="table bg-white" style="table-layout: fixed">
            <thead class="bg-light">
              <tr>
                <th>Name</th>
                <th id="col-show"    style="width: 52px"></th>
                <th id="col-edit"    style="width: 41px"></th>
                <th id="col-destroy" style="width: 67px"></th>
              </tr>
            </thead>

            <tbody>
              <% @roles.each do |role| %>
                <tr>
                  <td><%= role.name %></td>
                  <td><%= link_to 'Show', role %></td>
                  <td><%= link_to 'Edit', edit_role_path(role) %></td>
                  <td><% if role.id > 4 %><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

          <%= link_to 'New Role', new_role_path %>
        </div>
    </div>
</div>